.extend-to-bottom {
  min-height: 100%;
  height: 100vh;
}

.bg-primary {
  background-color: #F6F3F3 !important;
}

.bg-secondary {
  background-color: #A288B0 !important;
}

.bg-tertiary {
  background-color: #A4D0CF !important;
}

.bg-quaternary {
  background-color: #BDF5C7 !important;
}

.text-primary {
  color: #F6F3F3 !important;
}

.text-secondary {
  color: #A288B0 !important;
}

.text-tertiary {
  color: #A4D0CF !important;
}

.text-quaternary {
  color: #BDF5C7 !important;
}

.border-primary {
  border-color: #F6F3F3 !important;
}

.border-secondary {
  border-color: #A288B0 !important;
}

.border-tertiary {
  border-color: #A4D0CF !important;
}

.border-quaternary {
  border-color: #BDF5C7 !important;
}

