{{ template "pre-content" . }} 
<div class="container h1 my-3">
    <h1>Contact</h1>
</div>

<div class="container mb-5">
    <form class="row" action="/contact" method="post">
        <div class="container row my-3 ms-1 g-2">
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="col-3">
                <input type="email" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="container">
            <textarea id="message" type="textarea" class="form-control w-50" placeholder="Message" rows="3"></textarea>
        </div>
        <div class="container">
            <button type="submit" class="btn text-primary my-2 bg-secondary border-none">Send</button>
        </div>
    </form>
</div>

<div class="container mb-3">
    <p>Alternatively, if you want to reach me more directly, I can be reached via any of the following links and contacts:<p>
    <hr>
    <p>Email: <a class="text-decoration-none" href="mailto:msyrov96@gmail.com">msyrov96@gmail.com</a></p>
    <a class="btn text-primary bg-secondary border-none" href="https://www.linkedin.com/in/michael-syrov-433450a6/">LinkedIn</a>
</div>

{{ if .Services }}
<div class="container">
    <p>If you are looking for a particular service that I'm offering currently, you can contact me through them as well:</p>
    {{ range .Services }}

    {{ end }}
</div>
{{ end }}
{{ template "post-content" . }}
