{{ template "pre-content" . }}
<div class="container h1 mx-auto my-3 mb-5">
    <p>Hi :)</p>
</div>

<div class="container h2 mx-auto my-3">
    <p>A little bit about me</p>
</div>

<div class="container mx-auto mb-5">
    <p>I'm a person living in NYC with a bunch of hobbies and side projects that I do for fun and for self-development.</p>
    <p>I practice judo, and used to help teach it to children ages 4 and up. This taught me self-control, improved my attention to detail, and cultivated patience.</p>
    <p>I write software. This amplified my attention to detail and improved my patience as well as taught me persistence.</p>
    <p>I bike and skate on inline skates. It's just a lot of fun.</p>
</div>

<div class="container h2 mx-auto my-3">
    <p>Professional Background</p>
</div>

<div class="container mx-auto mb-5">
    <p>I am a software engineer with professional experience always looking to improve my craft and maximize my skill. I want to become a force multiplier for any team that I am on. I have professional experience developing desktop applications and web applications in C# and Python 3</p>
    <p>I also develop tools for myself to boost my own productivity while absorbing different ideas on how to develop software effectively by way of the technologies that I touch. This includes different languages like Rust, Go, and C, and includes technologies like Docker, Django, Gin-Gonic, SDL, and many others. I am familiar with Linux systems, having gone through Linux From Scratch and producing a bootable system (minus GRUB, instead booting directly via EFI). I leverage my knowledge of software engineering to multiply my own reach and productivity in any projects I start.</p>
    <p>Check out what I have cooking <a class="text-decoration-none" href="/projects">here</a>!</p>
</div>
{{ template "post-content" . }}
