{{ define "pre-content" }}
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{{ .page_title }} - Michael Syrov</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="/assets/css/stylesheet.css" rel="stylesheet">

        <!-- todo: frontend, gtags -->
    </head>

    <body>
        <main>
            <div class="container-fluid p-0 d-flex">
                <div class="col-2 p-3 text-dark bg-tertiary rounded-end extend-to-bottom">
                    <a class="mb-3 mb-md-0 text-center text-dark text-decoration-none" href="/">
                        Michael Syrov
                    </a>
                    <hr>
                    <ul class="nav nav-pills mb-1">
                        <li class="nav-item">
                    <a class="nav-link text-dark" href="/" aria-current="page">
                        Home
                    </a>
                        </li>
                    </ul>
                    <ul class="nav nav-pills mb-1">
                        <li class="nav-item">
                    <a class="nav-link text-dark" href="/experience" aria-current="page">
                        Professional Experience
                    </a>
                        </li>
                    </ul>
                    <ul class="nav nav-pills mb-1">
                        <li class="nav-item">
                    <a class="nav-link text-dark" href="/projects" aria-current="page">
                        Portfolio
                    </a>
                        </li>
                    </ul>
                    <ul class="nav nav-pills mb-1">
                        <li class="nav-item">
                    <a class="nav-link text-dark" href="/services" aria-current="page">
                        Services
                    </a>
                        </li>
                    </ul>
                    <ul class="nav nav-pills mb-auto">
                        <li class="nav-item">
                    <a class="nav-link text-dark" href="/contact" aria-current="page">
                        Contact
                    </a>
                       </li>
                    </ul>
                    <hr>
                </div>
		<div class="col-10 p-3 bg-primary">
{{ end }}
